.imgCover {
	height: 100%;
	background-color: #ff8383;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.iconButton {
	position: absolute;
	cursor: pointer;
	top: 10px;
	left: 10px;
	/*mix-blend-mode: overlay;*/
}

