
.weather-icon {
  position: absolute;
  top: 51%;
  width: 100%;
}

.weather-icon .box {
  margin: 50px auto;
  max-width: 180px;
  min-width: 100px;
  background-color: white;
  opacity: 0.47;
  mix-blend-mode: lighten;
  padding: 10px 14px 7px;
  border-radius: 4px;
}

.weather-icon .text {
  float: left;
}

.weather-icon img {
  float: right;
  width: 50px;
  height: 50px;
}

.weather-icon h2 {
  font-size: 8px;
  /* mix-blend-mode: exclusion; */

  font-family: "Roboto", sans-serif;  
  font-weight: 400;
  text-align: left; 
  user-select: none;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 1px;
}

.weather-icon h3 {
  font-size: 16px;
  /* mix-blend-mode: exclusion; */

  font-family: "Roboto", sans-serif;  
  font-weight: 900;
  text-align: left; 
  user-select: none;
  text-transform: uppercase;
  margin: 0;
}

.weather-icon h4 {
  font-size: 8px;
  /* mix-blend-mode: exclusion; */

  font-family: "Roboto", sans-serif;  
  font-weight: 400;
  text-align: left; 
  user-select: none;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 1px;
}

.weather-icon h5 {
  font-size: 6px;
  /* mix-blend-mode: exclusion; */

  font-family: "Roboto", sans-serif;  
  font-weight: 300;
  text-align: left; 
  user-select: none;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 1px;
}
