.super-title {
  color: hsla(0, 0%, 90%, 1); 
  position: absolute; 
  left: 0; 
  right: 0; 
  top: 17%; 
  font-family: "Holtwood One SC", sans-serif;  
  text-align: center; 
  mix-blend-mode: difference;
  user-select: none;
}

@media (max-width: 575px) {
  .super-title {
    font-size: 50px;  
    line-height: 45px; 
  }
}

@media (min-width: 576px) {
  .super-title {
    font-size: 100px;  
    line-height: 90px; 
  }
}